.journalTable {
    margin: 10px 0;
}

.journalTable, .journalTable th, .journalTable td {
    border: 1px solid #d9d9d9;
}

.journalTable th, .journalTable td{
    padding: 2px 4px;
}

.mark {
    text-align: center;
}